[unit]
Description = Backend services

[service]
User=expense
Enviroment= "mysql.kommanuthala.store"
ExecStart= /bin/node /app/index.js
SyslogIndenfier= backend

[Install]
WantedBy=multi-user.target